[submodule "Coffee-shop-chain-management-backend"]
	path = Coffee-shop-chain-management-backend
	url = https://github.com/nhp1807/Coffee-shop-chain-management-backend
[submodule "Coffee-shop-chain-management-FE"]
	path = Coffee-shop-chain-management-FE
	url = https://github.com/ndtwork/Coffee-shop-chain-management-FE
